<div class="balance-card">
      <div class="balance-card__header">
        <h3 class="balance-card__title">{{ title }}</h3>
        <span class="balance-card__subtitle">{{ subtitle }}</span>
      </div>
      
      <div class="balance-card__amount">
        <span class="balance-card__currency">{{ data.currency }}</span>
        <span class="balance-card__value">{{ data.totalAmount | number:'1.0-0' }}</span>
      </div>
      
      <div class="balance-card__account">
        <div class="account-info">
          <div class="account-info__type">
            <span class="account-label">Account Type</span>
            <span class="account-type">{{ data.accountType }}</span>
          </div>
          
          <div class="account-info__details">
            <div class="account-number">**** **** **** {{ data.accountNumber }}</div>
            <div class="account-balance">
              <span class="currency">{{ data.currency }}</span>
              <span class="amount">{{ data.balance | number:'1.0-0' }}</span>
              <i class="fas fa-check-circle check-icon"></i>
            </div>
          </div>
        </div>
      </div>
      
      <div class="balance-card__footer" *ngIf="data.hasNext">
        <span class="next-text">Next</span>
        <i class="fas fa-chevron-right next-icon"></i>
      </div>
    </div>