:host {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
 
  position: sticky;
  top: 0;
  z-index: 99; /* Still lower than sidebar */
  
  padding: 1rem;
  /* Add this to respect the flexbox layout */
  left: 0;
  right: 0;
}


.navbar__left h2 {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 0;
 
}

.navbar__date {
  font-size: 0.875rem;
 
  margin-left: 1rem;
}

.navbar__right {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.navbar__icon-wrapper {
  position: relative;
  font-size: 1.25rem;
 
  cursor: pointer;
}

.notification-dot {
  position: absolute;
  top: -2px;
  right: -2px;
  width: 8px;
  height: 8px;
  background-color: #10b981;
  border-radius: 50%;
}

.navbar__search {
  display: flex;
  align-items: center;
  
  border-radius: 8px;
  padding: 0.5rem 0.75rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.navbar__search input {
  border: none;
  outline: none;
  font-size: 0.875rem;
  
  background: transparent;
  font-family: inherit;
  width: 140px;
}

.navbar__search i {
  margin-left: 0.5rem;
 
}

.navbar__left {
  display: flex;
  align-items: center;
  gap: 1rem; /* Adds spacing between username and date */
}

.navbar__date {
  font-size: 0.875rem;
  
  font-weight: 400;
}
